@{
    ViewBag.Title = "Calculator";
}

<h2>Calculator</h2>

@using (Html.BeginForm())
{
    @Html.Label("Number 1:")
    @Html.TextBox("num1", null, new { type = "number", step = "any" })
    <br /><br />

    @Html.Label("Number 2:")
    @Html.TextBox("num2", null, new { type = "number", step = "any" })
    <br /><br />

    @Html.Label("Operation:")
    @Html.DropDownList("operation", new SelectList(new List<string> { "+", "-", "*", "/" }), "--Select--")
    <br /><br />

    <input type="submit" value="Calculate" />
}

@if (ViewBag.Result != null)
{
    <h3>Result: @ViewBag.Result</h3>
}
