@model IEnumerable<DiplomaApp.Models.Order.Order>

@{
    ViewData["Title"] = "Index";
}

<h1>Статус на поръчките</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                Име
            </th>
            <th>
               Номер
            </th>
            <th>
                Адрес
            </th>
            <th>
                Дата на поръчката
            </th>
            <th>
                Статус
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrderDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrderStatus)
            </td>
            <td>
                <p class="order-btn">
                    <a asp-action="Edit" asp-route-id="@item.OrderId">Редактиране</a> 
                </p>
                 <p class="order-btn">
                     <a asp-action="Details" asp-route-id="@item.OrderId">Детайли</a> 
                 </p>
                 <p class="order-btn">
                     <a asp-action="Delete" asp-route-id="@item.OrderId">Изтриване</a>
                 </p>
            </td>
        </tr>
}
    </tbody>
</table>
