@model DiplomaApp.Models.GlassPane.GlassPaneParent

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>GlassPaneParent</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProfileType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProfileType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProfileTypeMaterial)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProfileTypeMaterial)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WindowType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WindowType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WingsCount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WingsCount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.User)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.User.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Length)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Length)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Hight)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Hight)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="GlassPaneId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
