@model DiplomaApp.Models.GlassPane.GlassPaneParent

@{
    ViewData["Title"] = "Details";
}

<h1>Детайли</h1>

<div>
    <hr />
    <dl class="row">
         <dt class = "col-sm-2">
            Профил тип
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProfileType) 
        </dd>
        <dt class = "col-sm-2">
            Материал
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProfileTypeMaterial)
        </dd>
        <dt class = "col-sm-2">
            Стъклопакет
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WindowType)
        </dd>
        <dt class = "col-sm-2">
            Брой крила
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WingsCount)
        </dd>
        <dt class = "col-sm-2">
            Дължина
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Length)
        </dd>
        <dt class = "col-sm-2">
            Височина
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Hight)
        </dd>
    </dl>
</div>
<div>
 <p class="order-btn">
    <a asp-action="Index">Назад</a>
 </p>
</div>
