@model List<DiplomaApp.Models.GlassPane.GlassPaneParent>

@{
    ViewData["Title"] = "Index";
}

<h1>Поръчка на дограма</h1>

<p>
    <a asp-action="Create">Направи поръчка</a>
</p>

<table class="table">
    <thead>
        <tr>
             <th>
                Камери
            </th>
            <th>
               Материал
            </th>
            <th>
                Стъклопакет
            </th>
            <th>
                Крила
            </th>
            <th>
                Дължина
            </th>
            <th>
                Височина
            </th>
             <th>
                Цена
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>                        
 @foreach (var item in Model) 
 {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ProfileType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProfileTypeMaterial)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WindowType)
            </td>
             <td>
                @Html.DisplayFor(modelItem => item.WingsCount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Length)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Hight)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalPrice)
            </td>
            <td>
                <a asp-action="CalculatePrice" asp-route-id="@item.GlassPaneId">Изчисли цена</a> |
                <a asp-action="AddToCart" asp-route-id="@item.GlassPaneId">Добави в количка</a> |
                <a asp-action="Details" asp-route-id="@item.GlassPaneId">Детайли</a> |
                <a asp-action="Delete" asp-route-id="@item.GlassPaneId">Изтриване</a>
            </td>
        </tr>
        }
    </tbody>
</table>
