@model List<DiplomaApp.Models.GlassPane.GlassPaneParent>

@{
    ViewData["Title"] = "Index";
}
<div class="d-flex align-items-end mb-3">
    <h1 class="mb-0">Поръчка на дограма</h1>
    <p class="order-btn top">
        <a asp-action="Create">Направи поръчка</a>
    </p>
</div>

<table class="table">
    <thead>
        <tr>
             <th>
                Камери
            </th>
            <th>
               Материал
            </th>
            <th>
                Стъклопакет
            </th>
            <th>
                Крила
            </th>
            <th>
                Дължина
            </th>
            <th>
                Височина
            </th>
             <th>
                Цена
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>                        
 @foreach (var item in Model) 
 {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ProfileType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProfileTypeMaterial)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WindowType)
            </td>
             <td>
                @Html.DisplayFor(modelItem => item.WingsCount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Length)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Hight)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalPrice)
            </td>
            <td>
                <p class="order-btn"><a asp-action="CalculatePrice" asp-route-id="@item.GlassPaneId">Изчисли цена</a></p>
                <p class="order-btn"><a asp-action="AddToCart" asp-route-id="@item.GlassPaneId">Добави в количка</a></p>
                <p class="order-btn"><a asp-action="Details" asp-route-id="@item.GlassPaneId">Детайли</a></p>
                <p class="order-btn"><a asp-action="Delete" asp-route-id="@item.GlassPaneId">Изтриване</a></p>             
            </td>
        </tr>
        }
    </tbody>
</table>
