@model List<DiplomaApp.Models.GlassPane.GlassPaneParent>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Създай нов</a>
</p>

<table class="table">
    <thead>
        <tr>
             <th>
                Профил тип
            </th>
            <th>
               ProfileTypeMaterial
            </th>
            <th>
                WindowType
            </th>
            <th>
                WingsCount
            </th>
            <th>
                Length
            </th>
            <th>
                Hight
            </th>
             <th>
                Цена
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>                        
 @foreach (var item in Model) 
 {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ProfileType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProfileTypeMaterial)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WindowType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Length)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Hight)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalPrice)
            </td>
            <td>
                <a asp-action="CalculatePrice" asp-route-id="@item.GlassPaneId">Изчисли цена</a> |
                <a asp-action="AddToCart" asp-route-id="@item.GlassPaneId">Добави в количка</a> |
                <a asp-action="Details" asp-route-id="@item.GlassPaneId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.GlassPaneId">Delete</a>
            </td>
        </tr>
        }
    </tbody>
</table>
