@model DiplomaApp.Models.GlassPane.Wing

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Wing</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsOpen)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsOpen)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsCombined)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsCombined)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OpenDirection)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OpenDirection)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GlassPane)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GlassPane.GlassPaneId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Length)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Length)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Hight)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Hight)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.WingId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
